@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.nav:after{
    content: '';
display: block;
width: 1320px;
height: 2px;
background: #323232;
border-radius: 0.5px;
margin: 0 auto;
}

.nav__item{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 23px;
    text-transform: uppercase;
    color: #323232;
}

.nav__list{
    display: flex;
    gap: 30px;
}

.nav__list_link a{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #323232;
transition: 0.3s;
}

.nav__list_link a:hover{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
}

.nav__right{
    display: flex;
    gap: 40px;
}

.nav__lang {
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #323232;
}

.box{
    display: grid;
    grid-template-areas: "hl1 hl1 hr hr hr"
    "hl2 hl2 hr hr hr";
    gap: 40px;
}

.header__content_left1{
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    background: #E1E1E1;
border-radius: 10px;
width: 526px;
height: 294px;
margin-top: 30px;
display: flex;
grid-area: hl1;
}

.header__content_img{
    margin-left: 119px;
    margin-top: 73px;
}

.header__content_text{
margin-left: 43px;
margin-top: 116px;
}

.header__content_left2{
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    background: #E1E1E1;
border-radius: 10px;
width: 526px;
height: 294px;
margin-top: 30px;
display: flex;
grid-area: hl2;
}

.header__content_item{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #323232;
padding-bottom: 20.45px;
}

.header__content_name{
    font-family: 'Montserrat-Bold';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #000000;
padding-bottom: 20.45px;
}

.header__content_price{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #323232;
}

.header__content_sales{
    position: absolute;
    margin-top: 16px;
    margin-left: 22px;
}

.header__content_sale{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-transform: capitalize;
color: #FFFFFF;
padding: 11px 38px;
background: #323232;
border-radius: 10px;
}

.header__content_right{
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    background: #E1E1E1;
border-radius: 10px;
width: 746px;
height: 618px;
grid-area: hr;
margin-top: 30px;
display: flex;
margin-right: 70px;
}

.header__content_img1{
    margin-top: 188px;
    margin-left: 110px;
}

.header__content_text1{
margin-top: 254px;
margin-left: 24px;
}

.main__title{
    padding-top: 60px;
    padding-bottom: 20px;
}

.main__title:after{
    content: '';
display: block;
width: 1320px;
height: 2px;
background: #323232;
border-radius: 0.5px;
margin-top: 20px;
margin-bottom: 40px;
}

.leadersofsales{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 2.2px;
text-transform: uppercase;
color: #000000;
}

.main__content{
   display: grid;
   grid-template-columns: repeat(3, 416px);
   grid-template-rows: repeat(4, 485px); 
   gap: 24px;
}

.main__content1{
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    background: #E1E1E1;
border-radius: 10px;
}

.main__content_img{
    margin-top: 72px;
    margin-left: 108px;
    margin-right: 108px;
}

.main__content_sales{
    position: absolute;
    margin-top: 16px;
    margin-left: 22px;
}

.main__content_sale{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-transform: capitalize;
color: #FFFFFF;
padding: 11px 38px;
background: #323232;
border-radius: 10px;
}

.icons{
    position: absolute;
right: 20px;
top: 20px;
display: flex;
flex-direction: column;
gap: 20px;
}

.icon{
    padding: 15px;
    background: #FFFFFF;
    border-radius: 10px;
}

.main__content_text{
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}

.main__content_item{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #323232;
}

.main__content_name{
    font-family: 'Montserrat-Bold';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #000000;
}

.main__content_price{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-transform: uppercase;
color: #323232;
}

.more__title{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
justify-content: center;
    color: #323232;
    margin: 60px auto;
    transition: 0.3s;
}

.more__title:hover{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
}

.news::after{
    content: '';
display: block;
width: 1320px;
height: 2px;
background: #323232;
border-radius: 0.5px;
margin-bottom: 40px;
}

.latestnews{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}

.advices{
display: flex;
flex-direction: row;
gap: 24px;
margin-bottom: 60px;
}

.advice1{
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url(../img/news1.png);
border-radius: 10px;
width: 636px;
height: 470px;
}

.advice2{
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url(../img/news2.png);
border-radius: 10px;
width: 636px;
height: 470px;
}

.advice__icons{
    position: relative;
    top: 20px;
    left: 20px;
}

.advice__icon{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #323232;
padding: 13px 30px;
background: #FFFFFF;
border-radius: 8px;
max-width: 150px;
}

.advice__text{
    display: flex;
    flex-direction: column;
}

.advice__title{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
font-variant: small-caps;
color: #FFFFFF;
padding-top: 110px;
margin-left: 60px;
max-width: 466px;
}

.advice__text_1{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
font-variant: small-caps;
color: #E1E1E1;
padding-top: 30px;
margin-left: 64px;
padding-bottom: 100px;
max-width: 462px;
}

.advice__data{
    display: flex;
    padding-left: 60px;
    padding-bottom: 60px;
}

.advice__time{
    padding-left: 10px;
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #FFFFFF;
}

.footer{
background: #323232;
}

.footer__content{
    display: flex;
}

.footer__totembo {
margin-right: 160px;
}
.footer__list_name {
    font-family: 'Montserrat-Bold';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 23px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 100px;
padding-bottom: 40px;
}
.footer__list {
display: flex;
flex-direction: column;
gap: 15px;
margin-bottom: 131px;
}

.footer__list1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__list_link {
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #FFFFFF;
}

.footer__list_link1{
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
font-variant: small-caps;
color: #FFFFFF;
}

.footer__items{
    margin-right: 217px;
}

.footer__list_title {
    padding-top: 100px;
padding-bottom: 40px;
font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;
color: #FFFFFF;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.socialmedias {
    font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
letter-spacing: 2.5px;
font-variant: small-caps;
color: #FFFFFF;
margin-bottom: 40px;
}

.socialapps{
    display: flex;
    flex-direction: row;
    gap: 26px;
}





